<section class = "session_room" >
  <h1 id="session_new">ログイン</h1>
  <h4 id="session_sub">DriveStationにログインする</h4>
  <%= form_with(scope: :session, url: sessions_path) do |f| %>

    <section class="name_input">
      <table class="input">
        <tr class="field">
          <th><%= f.label :email %></th>
          <td><%= f.email_field :email %></td>
        </tr>

        <tr class="field">
          <th><%= f.label :password %></th>
          <td><%= f.password_field :password %></td>
        </tr>
      </table>

      <div class="actions">
      <%= f.submit "送信>>", class: "action" %>
      </div>
    </section>

  <% end %>

</section>
