
<%= form_with(model: comment, local: true) do |form| %>
  <div class = "error_comment">
    <% if comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(comment.errors.count, "件のエラー") %> が発生しました</h2>
  
        <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

    
      <%= form.hidden_field :restaurant_id, :value => @restaurant.id %>

  <div class="item_space">
    <ul>
      
      <li class="comment_new_input">
        <%= form.label :→ %>
        <%= form.file_field :image, id: :comment_new_image %>
        <%= form.hidden_field :image_cache %>
      </li>
  
      <li class="comment_new_input">
        <%= form.text_field :menu, id: :comment_menu, :placeholder => "食べたメニューは..." %>
      </li>
      
      <p>
      <li class="comment_new_input">
        <%= form.text_field :takeout, id: :comment_takeout, :placeholder => "テイクアウトは出来そうですか？..." %>
      </li>
      </p>
      
      <p>
      <li class="comment_new_input">
        <%= form.text_field :comment, id: :comment_comment, :placeholder => "行ってみた感想は..." %>
      </li>
      </p>
      
      
      <li class="actions" >
        <%= form.submit "投稿"  %>
      </li>
    </ul>
  </div>
<% end %>
