
<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

    
      <%= form.hidden_field :restaurant_id, :value => @restaurant.id %>

  <div class="item_space">
    <ul>
      
      <li class="comment_new_input">
        <%= form.label :→ %>
        <%= form.file_field :image, id: :comment_new_image %>
        <%= form.hidden_field :image_cache %>
      </li>
  
      <li class="comment_new_input">
        <%= form.text_field :menu, id: :comment_menu, :placeholder => "お風屋さんの名前..." %>
      </li>
      
      <li class="comment_new_input">
        <%= form.text_field :comment, id: :comment_comment, :placeholder => "行ってみた感想..." %>
      </li>
      
      <li class="comment_new_input">
        <%= form.text_field :takeout, id: :comment_takeout, :placeholder => "テイクアウトは出来そうですか？..." %>
      </li>
      
    <li class="actions" >
        <%= form.submit "投稿"  %>
      </li>
    </ul>
  </div>
<% end %>
