<section class = "comment_room fullheight">
<p id="notice"><%= notice %></p>

<h1 id="comment_index">皆の食べたもの</h1>
 <h2 id="comment_index_sub" >-写真をクリックして下さい-</h2>
   <div class="comment_contailner clearfix"> 
    <% @comments.each do |comment| %>
  
        <% if @restaurant.id == comment.restaurant_id  %>
          <div class="comment">
            <%= link_to comment_path(comment) do %> 
            <div  class= "img01 waku03 shadow rotate01">
              <%= comment_image(comment)%>
            </div>
            <br><%= comment.menu %>
            <% end %>
          </div>
        <% end %>
    <% end %>
   </div>
   
  <div class = "button_wrapper_center">
   <%= link_to '食べたメニューを投稿', new_comment_path(restaurant_id: @restaurant.id), class:"origin_next_btn commnet_index_new" %>
  </div>
</section>

<%= link_to '←', restaurants_path, class:"origin_back_btn" %>
