<section class = "fullheight" >
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @comment.image, id:"comment_image" %>
</p>

<p>
  <strong>店名:</strong>
  <%= @comment.restaurant_id %>
</p>

<!--<p>-->
<!--  <strong>User:</strong>-->
<!--  <%= @comment.user_id %>-->
<!--</p>-->

<p>
  <strong>食べたメニュー:</strong>
  <%= @comment.menu %>
</p>

<p>
  <strong>Takeout:</strong>
  <%= @comment.takeout %>
</p>

<p>
  <strong>クチコミ:</strong>
  <%= @comment.comment %>
</p>

  <% if current_user.id == @comment.user_id %>
    <%= link_to 'Edit', edit_comment_path(@comment) %>
    <!--<%# binding.pry %>-->
  <% end %>
  
  
  
  <%= link_to '←', comments_path(restaurant_id: @comment.restaurant.id), class:"origin_back_btn" %>
</section>