<%= form_with(model: bath, local: true) do |form| %>
  <div class = "error_comment">
  <% if bath.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bath.errors.count, "件のエラー") %> が発生しました</h2>

      <ul>
      <% bath.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>

  <div class="item_space">
    <ul>
      <li class="bath_new_input">
        <%= form.label :→ %>
        <%= form.file_field :image, id: :bath_image %>
        <%= form.hidden_field :image_cache %>
      </li>
    
      <li class="bath_new_input">
        <%= form.select :place, [["東北", "東北"], ["関東 ", "関東"], ["中部", "中部"], ["近畿", "近畿"], ["中国", "中国"], ["四国", "四国"], ["九州", "九州"],]  %>
        
      </li>
      
      <li class="bath_new_input">
        <%= form.text_field :name, id: :bath_name, :placeholder => "お風呂屋さんの名前..." %>
      </li>
    
      <li class="bath_new_input">
        <%= form.text_area :content, id: :bath_content, :placeholder => "行ってみた感想..." %>
      </li>
      
      <li class="actions">
        <%= form.submit "投稿" %>
      </li>
    </ul>
  </div>
 
<% end %>