<section class = "bath_room fullheight">
<p id="notice"><%= notice %></p>

<h1 id="bath_index">温泉情報</h1>
 <h2 id="bath_index_sub" >-写真をクリックして下さい-</h2>

    <% @baths.each do |bath| %>
     <div class="bath clearfix">
      <div class= "bath_image">
        <%= link_to bath_image(bath), bath %>
      </div>
          <div class="index_content">
           <h3>県名：<%= bath.place %></h3> 
           <h3>店名：<%= link_to bath.name, bath, class: "bath_name" %></h3>
          </div>
        </div>  
    <% end %>

<br>
<div>
<%= link_to '温泉情報を投稿', new_bath_path, class:"origin_next_btn bath_index_new" %>
</div>

</section>

<div>
<%= link_to '←', user_path(id: current_user.id), class:"origin_back_btn" %>
</div>    
