<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bath.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bath.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @bath.place %>
</p>


<p>
  <strong>Content:</strong>
  <%= @bath.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @bath.image %>
</p>

<div class ="#">
  <% unless @bath.user == current_user %>
    <% if @preference.present? %>
      <%= link_to 'お気に入り解除', preference_path(bath_id: @bath.id), method: :delete, class: 'restaurant_show_favorote' %>
    <% else %>
      <%= link_to 'お気に入り登録', preferences_path(bath_id: @bath.id), method: :post, class: 'restaurant_show_favorote' %>
    <% end %>
  <% end %>
</div>



<%= link_to 'Edit', edit_bath_path(@bath) %> |
<%= link_to 'Back', baths_path %>
