<!--<%#= form_with(model: user, local: true) do |form| %>   クラスの入れ方         -->

<%= form_with(model: user, local: true, html: {class: 'entryForm'}) do |form| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <section class="name_input">
    <table class="input">
      <tr class="field">
        <th><%= form.label :お名前 %></th>
        <td><%= form.text_field :name, id: :user_name %></td>
      </tr>
      
      <tr class="field">
        <th><%= form.label :アドレス %></th>
        <td><%= form.text_field :email, id: :user_email %></td>
      </tr>
      
      <tr class="field">
        <th><%= form.label :プロフィール写真 %></th>
        <td><%= form.file_field :image, id: :user_image_input %></td>
        <td><%= form.hidden_field :image_cache %></td>
      </tr>
      
      <tr class="field">
        <th><%= form.label :パスワード %></th>
        <td><%= form.password_field :password, id: :user_password %></td>
      </tr>
      
      <tr class="field">
        <th><%= form.label :パスワード確認 %></th>
        <td><%= form.password_field :password_confirmation, id: :user_password %></td>
      </tr>
    </table>
  
  <p>
  <div class="actions">
    <%= form.submit "新規登録　送信>>", class: "action" %>
  </div>
  </p>
  
  </section>
<% end %>
