<p id="notice"><%= notice %></p>
<h2>お気に入り一覧</h2>
<p>
  <strong>Image:</strong>
  <%= image_tag @user.image, class: 'user_image' %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<% @user.favorite_restaurants.each do |restaurant| %>
<ol>
    <li>店名：<%= restaurant.name %>場所：<%= restaurant.place %></li>
</ol>


<% end %>


<%= link_to '食事処を探す', restaurants_path %>


<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>
