<section class = "user">
  <p id="notice"><%= notice %></p>
  <p id = "mypage">
    <%= link_to image_tag(@user.image, class: 'user_image'), edit_user_path(@user) %> 
  </p>
  <p>
    <h1>
    <%= @user.name %>のお気に入り一覧
    </h1>
  </p>
  <div class="favorites">
    <% @user.favorite_restaurants.each do |restaurant| %>
      <table>
        <tr>
          <td><%= link_to image_tag(restaurant.image, class: "favotite_image"), restaurant %></td>
          <td>店名：<%= restaurant.name %>場所：<%= restaurant.place %></td>
        </tr>
      </table>
    <% end %>
  </div>
  
</section>

<%= link_to '食事処を探す', restaurants_path, id: "user_restaurant_btn" %>
<%= link_to '戻る', root_url, id: "user_restaurant_btn" %>
