<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item_space">
    <ul>
      <li class="restaurant_new_input">
        <%= form.label :→ %>
        <%= form.file_field :image, id: :restaurant_image, :alt => "/images/NO_IMAGE.jpg" %>
        <%= form.hidden_field :image_cache %>
      </li>
      
      <li class="restaurant_new_input">
        <%= form.label :お店の名前 %>
        <%= form.text_field :name, id: :restaurant_name, :placeholder => "お店の名前は？..." %>
      </li>
      
      <li class="restaurant_new_input">
        <%= form.label :　県名 %>
        <%= form.text_field :place, id: :restaurant_place, :placeholder => "何県？..." %></td>
      </li>
      
      <li id="restaurant_ations">
        <%= form.submit "投稿"%>
      </li>
      
    </ul>  
  </div>

<% end %>
