<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class = "restaurant_input">
   <table border = 2> 
    <!--後でborderは消す-->
   
    <tr class="field">
      <td><%= form.label :お店の外観 %></td>
      <td><%= form.file_field :image, id: :restaurant_image %></td>
      <td><%= form.hidden_field :image_cache %></td>
    </tr>
  
    <tr class="field">
      <td><%= form.label :お店の名前 %></td>
      <td><%= form.text_field :name, id: :restaurant_name, :placeholder => "お店の名前は？..." %></td>
    </tr>
  
    <tr class="field">
      <td><%= form.label :　県名 %></td>
      <td><%= form.text_field :place, id: :restaurant_place, :placeholder => "何県？..." %></td>
    </tr>
  
    <tr class="actions">
      <%= form.submit %>
    </tr>
  </table>
  </section>
<% end %>
