<section class = "restaurant_room fullheight" >
  <p id="notice"><%= notice %></p>
  
  <p>
    <%= image_tag @restaurant.image, class: "restaurant_show_image" %>
  </p>

   <div class="restaurant_contailner clearfix"> 
    <!--<div class="restaurant_show_name">-->
      <p>
        <strong>店名</strong>
        <%= @restaurant.name %>
      </p>
      <p>
        <strong>県名:</strong>
        <%= @restaurant.place %>
      </p>
      <p>
        <strong>投稿者:</strong>
        <%=  @restaurant.user.name %>さん
      </p>
    <div class ="favorite_btn">
    <% unless @restaurant.user == current_user %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除', favorite_path(restaurant_id: @restaurant.id), method: :delete, class: 'restaurant_show_favorote' %>
      <% else %>
        <%= link_to 'お気に入り登録', favorites_path(restaurant_id: @restaurant.id), method: :post, class: 'restaurant_show_favorote' %>
      <% end %>
    <% end %>
    </div>
    
      <div>
        <% if current_user.id == @restaurant.user_id %>
          <P><%= link_to '編集', edit_restaurant_path(@restaurant), class:"origin_edit_btn" %></P>
          <P><%= link_to '削除', restaurant_path(@restaurant), class:"origin_edit_btn", method: :delete, data: { confirm: 'Are you sure?' } %></P>
        <% end %>
        <%= link_to '←', restaurants_path, class:"origin_back_btn" %>
      </div>
    <!--</div>-->
  </div>
      <%= link_to '皆の食べたものを見る', comments_path(restaurant_id: @restaurant.id), class:"origin_next_btn center_btn" %> 
</section>