<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @restaurant.image %>
</p>

<p>
  <strong>店名</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @restaurant.place %>
</p>

<p>
  <strong>投稿者</strong>
  <%=  @restaurant.user.name %>
</p>

<%= link_to 'MENU', comments_path(restaurant_id: @restaurant.id) %> 


<% unless @restaurant.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(restaurant_id: @restaurant.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(restaurant_id: @restaurant.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

  <% if current_user.id == @restaurant.user_id %>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
    <%= link_to 'Destroy', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Back', restaurants_path %>
</div>
