<!DOCTYPE html>
<html>
  <head>
    <title>Dorasute</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    
    <!--<%# flash.each do |key, value| %>             -->
    <!--  <%#= content_tag(:div, value, class: "#{key}") %>-->
    <!--<%# end %>-->
    <!--上記はフラッシュメッセージがあった場合の表示用 ログインシステム10-->
    
    <header class="header clearfix">
      <!--<a class="header-logo" href="" >DriveStation</a>-->
        <%= link_to 'DriveStation', root_url, class: "header_logo" %>
        <!--クラスを当てると飛ばなくなる.後で確認-->
      <ul>
        <% if logged_in? %>
          <li><%= link_to "お気に入り", user_path(current_user.id), class: "header_tag" %></li>
          <li><%= link_to '食事処一覧', restaurants_path, class: "header_tag" %></li>
          <li><%= link_to '温泉一覧', baths_path, class: "header_tag" %></li>
          <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: "header_tag" %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_path, class: "header_tag" %></li>
          <li><%= link_to "ログイン", new_session_path, class: "header_tag" %></li>
        <% end %>
      </ul>  
    
    </header>
    
    <%= yield %>
    
      <footer class="footer">
        <p>DIC 2017年10月期 </p>
      </footer>
    
     </div>
  </body>
  
</html>
